.authenticate {
  text-align:end;
  padding: 15px;
  background-color: blue;
}

.welcome {
  text-align: center;
  margin-top: 10px;
}

.balance {
  text-align: center;
  margin-top: 50px;
}

.donate {
  text-align: center;
}

.donate-btn {
  padding: 5px;
  margin-right: 10px;
}


